.results{
  background-color: transparent;
  margin-top: 80px;
  display: grid;
  row-gap: 10px;
  grid-template-columns: max-content 1fr repeat(4, max-content);

  .rowWrapper{
    display: contents;
  }
  
  .rowWrapper > div{
    padding: 0px 10px;
  }

  .rowWrapper:hover > div{
    background-color: #000;
    color: #FFF;
  }
}

.rank{
  font-weight: bold;
  font-style: italic;
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}

.nameAndSchool{
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.name{
  align-self: end;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.school{
  align-self: start;
  font-size: .6rem;
  padding-right: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.grade{
  font-style: italic;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}

.score{
  display: flex;
  flex-direction: column;
  justify-content: center;
  // border: 1px solid red;
  grid-template-rows: max-content max-content;

  > div{
    // border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(6, 18px) 25px;
    justify-items: center;
    font-size: .75rem;
  }

  .subtotal{
    padding-left: 5px;
    font-weight: bold;  
  }
}

.totalScore{
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.votes{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}









.menu{
  position: fixed;
  top: 5rem;
  right: 0px;
  width:25vw;
  height: 5rem;
  // border: 1px solid red;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dropdown{
  // border: 1px solid red;
  border-bottom: 5px solid black;
  width: fit-content;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  position: relative;
  margin: 0px 20px;

  .arrow{
    margin-left: 1rem;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;

    border-top: .8rem solid black;
  }

  .options{
    display: none;
    position: absolute;
    width: fit-content;
    top: 100%;
    right: 0px;
    border: 5px solid black;
    border-width: 5px 5px;

    a {
      text-decoration: none;
    }
  }

  .displayOptions{
    display: inline-block;
  }

  .option{
    background-color: white;
    color: black;
    display: inline-block;
    width: max-content;
    padding: 5px;
  }
  .option:hover{
    background-color: #CCC;
  }

  .option.selectedOption{
    background-color: black;
    color: white;
  }
}

