.menu {
  position: fixed;
  width: calc(calc(100% - 0px) / 4);
  height: 100vh;
  // top: -100%;
  left: -100%;
  background-color: black;
  // background: transparent;
  transition: 750ms;
  margin: 0px;
  padding: 0px;
  z-index: 100;
  
  &.visible {
    left: 0;
    top: 0;
    transition: 750ms;
  }
}

.menuOpenButton {
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-size: 2.5rem;
  display: grid;
  place-items: center;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
}

.menuOpenButton.active, .menuOpenButton:hover {
  color: white;
  background-color: black;
}

.menuItems {
  margin-top: 80px;
}

.menuItem {
  font-size: 1.9rem;
  font-weight: 800;
  text-transform: uppercase;
  background-color: transparent;
  margin: 0px 40px;
  padding: 8px 0px;
  display: grid;
  place-items: center;

  a {
    display: inline-block;
    padding: 0px 5px;
    border-bottom: 0.3rem solid white;
    color: white;
    text-align: center;
  }
}

.menuItem.active, .menuItem:hover{
  background-color: white;

  a{
    color: black;
    border-bottom:0.3rem solid black;
  }
}
