.menuButton {
  cursor: pointer;
  display: grid;
  place-items: center;
}

.menuOpenButton {
  // button taking top-left corner of the whole screen
  position: fixed;
  top: 50px;
  left: 50px;
  // index high enough to cover the background, but menu rolls over it
  z-index: 5;

  // more space around icon looks better on hover
  padding: 7.5px;

  color: black;
  background-color: white;

  &.active,
  &:hover {
    color: white;
    background-color: black;
  }
}

.menuCloseButton {
  // button taking top-left corner of the rolling menu
  position: absolute;
  top: 50px;
  left: 50px;

  // less space around X is enough for hover to look good
  padding: 2.5px;
}

.loading {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: white;
}

.menuItem {
  background-color: transparent;
  margin: 0px 40px;
  padding: 8px 0px;
  display: grid;
  place-items: center;

  a {
    display: inline-block;
    padding: 0px 5px;
    border-bottom: 5px solid white;
    color: white;
    text-align: center;
  }
}

.menuItem.active,
.menuItem:hover {
  background-color: white;

  a {
    color: black;
    border-color: black;
  }
}
