.menu {
  position: fixed;
  width: 25%;
  height: 100vh;
  top: -100%;
  background-color: black;
  transition: 750ms;
  z-index: 100;

  &.visible {
    left: 0;
    top: 0;
  }
}

.menuButton {
  cursor: pointer;
  display: grid;
  place-items: center;
}

.menuOpenButton {
  // button taking top-left corner of the whole screen
  position: fixed;
  top: 50px;
  left: 50px;
  // index high enough to cover the background, but menu rolls over it
  z-index: 5;

  // more space around icon looks better on hover
  padding: 7.5px;

  color: black;
  background-color: white;

  &.active,
  &:hover {
    color: white;
    background-color: black;
  }
}

.menuCloseButton {
  // button taking top-left corner of the rolling menu
  position: absolute;
  top: 50px;
  left: 50px;

  // less space around X is enough for hover to look good
  padding: 2.5px;
}

.menuItems {
  margin-top: 176px;
}

.loading {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: white;
}

.menuItem {
  // TODO(#127): 30/16=1.875rem
  font-size: 1.7rem;
  font-weight: 800;
  text-transform: uppercase;
  background-color: transparent;
  margin: 0px 40px;
  padding: 8px 0px;
  display: grid;
  place-items: center;

  a {
    display: inline-block;
    padding: 0px 5px;
    // TODO(#127): 5px (5/16=0.3125rem)
    border-bottom: 0.3rem solid white;
    color: white;
    text-align: center;
  }
}

.menuItem.active,
.menuItem:hover {
  background-color: white;

  a {
    color: black;
    // TODO(#127): 10px (10/16=0.625rem). ale treba asi nastavit height celeho menu itemu, nech to neskace
    border-bottom: 0.3rem solid black;
  }
}
