.pageContainer {
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // top offset because of sticky menu/title/banner
  padding-top: 12rem;
  // bottom offset because of sticky debug footer
  padding-bottom: 1rem;
}

.mainContent {
  padding: 20px;
  overflow: visible;
  grid-column-start: 2;
}

.col1 {
  grid-column-end: 3;
}
.col2 {
  grid-column-end: 4;
}
.col3 {
  grid-column-end: 5;
}