.title {
  // TODO(#127): 36/16=2.25rem
  font-size: 1.9rem;
  font-weight: 800;
}

.text {
  // TODO(#127): 30/16=1.875rem
  font-size: 1.7rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 4px;
}