{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        // for what's included, check: https://github.com/facebook/create-react-app/blob/master/packages/eslint-config-react-app/index.js
        "react-app",
        "plugin:react/recommended",
        "plugin:prettier/recommended",
        // eslint-config-prettier package - turns off eslint rules conflicting with prettier
        "prettier"
    ],
    "plugins": ["simple-import-sort"],
    "rules": {
        "react/prop-types": "off",
        "simple-import-sort/sort": "error",
        "prettier/prettier": 0
    }
}
