.textArea {
  width: 100%;
  height: 60px;
  border: 3px solid black;
}

.sideContainer {
  margin: 1rem 0px;
  height: auto;
  
  position: fixed;
  top: 12rem;
  bottom: 2rem;
  right: 20px;
  width: calc(25vw - 40px);
}

.container {
  border: 8px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  // potrebne, aby sa dodrzali parent hranice komponentu, aj ked tu bude vela contentu.
  // ratame s tym, ze si overflow ten content (napr. div s komentarmi) ohandli sam scrollbarom.
  overflow: hidden;
  max-height: 100%;
}

.title {
  background-color: black;
  color: white;
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}