
.container {
    display: grid;
    grid-gap: 0px;
    margin: -20px;
    padding-top: 80px;
}

.problem {
    padding: 20px;
    .problemTitle {
        font-weight: bold;
    }
}

.actions{
  margin-top: .5rem;  
  display: flex;
  justify-content: flex-end;
}

.actionButton, .commentActions>span{
  cursor: pointer;
  font-size: .8rem;
  font-style: italic;
  font-weight: bold;
  margin-left: 20px;
  border-bottom: 5px solid black;
  user-select: none;
  text-transform: uppercase;

  &.disabled{
    color: #CCC;
    border-color: #CCC;
  }
}

.sideContainer{
  display: none;
  position: absolute;
  margin: 1rem 0px;
  height: auto;
  display: grid;
  grid-template-rows: auto 1fr;

  position: fixed;
  top: 12rem;
  bottom: 2rem;
  right: 20px;
  width: calc(25vw - 40px);

  > .registerButton{
    background-color: black;
    color: white;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    font-size: .8rem;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}


.dropzone{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #BBB;
  background-color: #EEE;
}

.notPublished{
  background-color: #EEE;
}


.menu {
    position: fixed;
    top: 5rem;
    right: 0px;
    width: 25vw;
    height: 5rem;
    z-index: 1000;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.problemSubmission{
  border: 1px solid red;
}

