.container {
  display: grid;
  grid-gap: 0px;
  margin: -20px;
  padding-top: 80px;
}

.loading {
  display: flex;
  justify-content: center;
  // vyska elementu je 40px. toto ho vytiahne vyssie do toho 80px bieleho miesta
  margin-top: -40px;
}

.adminSection {
  margin-left: auto;
}

.problem {
  padding: 20px;

  .problemTitle {
    font-weight: bold;
  }
}

.actions {
  margin-top: .5rem;
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
}


.sideContainer {
  margin: 1rem 0px;
  height: auto;
  display: grid;
  grid-template-rows: auto 1fr;

  position: fixed;
  top: 12rem;
  bottom: 2rem;
  right: 20px;
  width: calc(25vw - 40px);
}

.registerButton {
  background-color: black;
  color: white;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  font-size: .8rem;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 1rem;
}