.container {
  margin: 0px;
  // padding: 10px;
  padding: 10px 0 10px 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-top: 0px solid black;
  border-bottom: 0px solid black;
  position: relative;
}

.files {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.bottomAction {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-end;
}

.problemSubmitted {
  font-weight: bold;
  font-style: italic;
}

.actions {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
}
