 .mainText{
    >p{
      padding: 20px;
      width: 1000px;
    }
  }

  .h2{
      padding-top: 40px;
      padding: 20px;
  }

  .container {
    display: grid;
    grid-gap: 0px;
    margin: -20px;
    padding-top: 20px;
}

  .actions{
    margin-top: .5rem;  
    display: flex;
    justify-content: flex-end;
  }

  .actionButton, .commentActions>span{
    cursor: pointer;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    margin-left: 40px;
    user-select: none;
    text-transform: uppercase;
    
  
    &.disabled{
      color: #CCC;
      border-color: #CCC;
    }
  }

  .archiveWithPublications{
    display: grid;
    width: 50%;
    grid-template-columns: 1fr max-content max-content;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    font-style: italic;
    row-gap: 10px;
    margin-left: 20px;
  
    div:not(:nth-child(3n+1)){
      margin-left: 20px;
      border-bottom: 4px solid black;
    }
  
    div:nth-child(3n+1){
      font-size: 1.2rem;
    }
  }

  .archiveWithoutPublications{
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    font-style: italic;
    row-gap: 10px;
    margin-left: 20px;
    font-size: 1.2rem;
  }