.banner{
  width: 100vw;
  background-color: black;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  z-index: 3;
  margin-bottom: 0.5rem;
  padding: 0.2rem 0;
}


.marqueeTextContainer {
  white-space: nowrap;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
}