.actionButton {
  cursor: pointer;
  padding: 0;
  border: 0;
  border-bottom: 5px solid black;
  color: black;
  background-color: white;

  &.disabled {
    cursor: default;
    color: #ccc;
    border-color: #ccc;
  }

  &:hover {
    background-color: black;
    color: white;
  }

  &.disabled:hover {
    background-color: #ccc;
  }
}
