.scrollingText {
  position: fixed;
  top: 10rem;
  left: 0;
  color: white;
  background-color: black;
  width: 100vw;
  padding: 0.3rem;
  text-transform: uppercase;
  font-weight: bold;
  z-index: -5;
}

.marqueeTextContainer {
  white-space: nowrap;
  padding: 0px 20px;
}
