.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: black;
  color: white;
  // bottom offset because of sticky debug footer
  padding-bottom: 1rem;
}

.content {
  grid-column-start: 2;
  grid-column-end: 4;
}