.logosRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  display: grid;
  place-items: center;
}

.image {
  width: auto;
  height: auto;
  min-height: 3rem;
  min-width: 3rem;
  max-height: 50vh;
  margin-top: 1rem;
}