.table {
  text-align: center;
}

.th, .td {
  padding: 3px 1.5vw;
}

.th {
  background-color: black;
  color: white;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

.p {
  padding-bottom: 1rem;
}