.closeButton {
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-size: 3.2rem;
    color: white;
    z-index: 11;
  }

  .closeButton.active, .closeButton:hover{
    color: black;
    background-color: white;
  }

.closeButton__left {
  position: absolute;
  left: 0%;
}

.closeButton__right {
  position: absolute;
  left: 100%;
  transform: translateX(-100%);
}