.archive {
  margin-top: 5rem;
  display: grid;
  row-gap: 20px;
}

.archiveRow {
  display: grid;
  grid-template-columns: 1fr auto;
}

.eventName {
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  font-size: 16pt;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  text-transform: uppercase;
}