.mainText{
    >p{
      padding: 20px;
      width: 1000px;
    }
  }

  .h2{
      padding-top: 40px;
      padding: 20px;
  }

  .archive{
    display: grid;
    

    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    font-style: italic;
    row-gap: 10px;
    margin-left: 20px;
  
  }

  .publication{
    text-transform: uppercase;
    margin-top: 10px;
    font-style: italic;
    row-gap: 10px;
    margin-left: 20px;
    
  }

  .actionButton, .commentActions>span{
    cursor: pointer;
    font-size: .8rem;
    font-style: italic;
    font-weight: bold;
    margin-left: 20px;
    border-bottom: 5px solid black;
    user-select: none;
    text-transform: uppercase;
  
    &.disabled{
      color: #CCC;
      border-color: #CCC;
    }
  }