.icon {
  color: black;
}

.iconDisabled {
  color: #CCC;;
}

.input {
  width: 30px;
  text-align: center;
}

.table {
  display: grid;
  grid-gap: 10px;
}

.tableHeader {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
}

.tableBody {
  display: grid;
  grid-gap: 10px;
}

.tableRow {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 10px;
}

.centerCell {
  place-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 8px;
}

.row {
  display: flex;
  gap: 8px;
}