.container{
  position: fixed;
  top: 12rem;
  left: 0;
  bottom: 0;
  width: 25%;
  padding-top: 100px;
  z-index: -1;
}

.tree{
  height: 100%;
  width: 100%;
  background-color: black;
  clip-path: polygon(100% 0%, 100% 100%, 45% 100%, 96% 63%, 55% 63%, 96% 30%, 65% 30%);
}
