*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
}

h1{
  font-style: italic;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  // width: 10rem;
  height: 2rem;
  white-space: nowrap;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 0px 20px;
  position: absolute;
  z-index: 0;
  top: calc(50% - 1rem);
  left: calc(100% + 10px);
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}