*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
}

#page-container {
  min-height: 100vh;
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

#main-content {
  grid-column: 2 / 4;
  display: grid;
}
