.authenticationDisplayButtons {
  margin-top: 1rem;
  text-align: center;
  color: white;

  > span, > a {
    padding: 0px 10px;
    margin: 0px;
    cursor: pointer;
    color: white;
  }

  > span:not(:first-child) {
    border-left: 2px solid white;
  }
}
